.section {
padding: 10px;
opacity: 0;
transition: opacity 0.5s ease-in-out;
}

.section.visible {
opacity: 1;
}
  
.hero-content {
    padding-top: 10%;
    display: flex; /* Layout children (text and image) side by side */
    justify-content: space-between; /* Space between text and image */
    align-items: center; /* Center items vertically */
    width: 100%; /* Take full width */
    max-width: 1200px; /* Add a max-width for better layout control */
    margin: 0 auto; /* Center the content horizontally */
}

.text-content {
flex: 1; /* Allow the text to take up remaining space */
margin-right: 20px; /* Add some spacing between text and image */
}

.image-content {
flex: 1; /* Allow the image to take up remaining space */
display: flex;
justify-content: flex-end; /* Align image to the right */
}

.image-content img {
    max-width: 100%; 
    border-radius: 8px;
    height: 100%;
}

.hero-content h1 {
font-size: 60px;
padding-bottom: 25px;
color: #333;
}

.hero-content p {
font-size: 20px;
background-color: #f4ad49;
border-radius: 20px;
color: #555;
padding: 10px 15px;
margin: 0;
}
