/* Global Styles */
body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 50px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; 
}

/* Burger Menu Styles */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
  transition: all 0.3s ease;
}

.burger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active div:nth-child(2) {
  opacity: 0;
}

.burger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Footer */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the App takes the full viewport height */
}

.content {
  flex: 1; /* Allow the content to grow and take up available space */
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {

  .section {
    padding: 20px;
  }

  .about-grid-item p {
    margin: 0; 
  }

  .tools-grid-item p {
    margin: 0; 
  }

  h1 {
    font-size: 32px;
  }

  footer {
    padding: 15px;
  }
}
